footer {
  background-color: #f3e392;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: auto;
  text-align: center;
  font-size: 1rem;
  margin-top: auto;
}

footer div {
  color: black;
}